body {
    font-family: Arial;
}
header {
    height: 90px;
    backround-color: #a9a9a9;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul {
    list-style: none;
}
header li {
    float: left;
    height: 40px;
    display: flex;
    align-items: center;
    border-right: 2px solid black;
}
header li a {
    color: #ffce44;
    text-decoration: none;
    padding: 5px 3px;
}

.konteineris {
    width: 720px;
    margin: auto;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    box-shadow: 0 10px 120px;
}