.konteineris {
    width: 720px;
    margin: 0 auto;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    box-shadow: 0 5px 20px;
    padding: 10px;
    background-image: -webkit-linear-gradient(45deg, rgb(62, 62, 209), rgb(30, 159, 194), rgb(79, 222, 215));
}

img.foto {
    border: 1px solid black;
    margin: 0 20px 9px 0;
    padding: 5px;
}

.profilis {
    overflow: auto;
}

.profilis .foto {
    float: left;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
    color: lightgray;
    margin: 10px 0;
}

@keyframes boom {
    0% {
        width: 160px;
        height: 160px;
    }
    50% {
        width: 180px;
        height: 180px;
    }
    100% {
        width: 160px;
        height: 160px;
    }

}

.profilis .foto:hover {
    animation-name: boom;
    animation-duration: 0.3s;
}