html {
    height: 100%;
}

body {
    font-family: Arial;
    background-image: -webkit-linear-gradient(45deg, rgb(62, 62, 209), rgb(30, 159, 194), rgb(79, 222, 215));
}

header {
    height: 70px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul {
    list-style: none;
}
header li {
    float: left;
    display: flex;
    height: 40px;
    align-items: center;
    border-right: 2px solid white;
}
header li a {
    color: #fff;
    text-decoration: none;
    padding: 0px 10px;
    font-size: 24px;
    font-weight: bold;
}
footer {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}