.tabs .sheet {
    display:none;
}
.tabs .active_link {
    color: red !important;
}
.tabs .active_sheet {
}
.tabs .tab_header ul {
    list-style: none;
}
.tabs .tab_header li {
    float: left;
    margin: 0 10px
}
.tabs .tab_header li a {
    color: black;
    text-decoration: none;
}
.tabs .tab_header, .tabs .sheets {
    overflow: auto;
}