body {
    font-family: Verdana;

}

header {
    font-size: 30px;
    background-color: #a9a9a9;
    color: white;
    height: 70px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 20px;
}

header ul {
    list-style: none;

}

header li {
    float: left;
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;
    padding-right: 50px;

}

header li a {
    color: green;
    text-decoration: none;
    padding: 5px 3px 5px 3px;
}

.konteineris {
    width: 720px;
    margin: 0 auto;
    border-left: 1px green solid;
    border-right: 1px green solid;
    box-shadow: 0 5px 20px;
    background-image: url("../img/fonas.jpg");

}
.darbofoto{
    border: 2px solid black;
}
.foto {
    align-self: start;
    margin: 20px;
}

h1 {
    position: relative;
    top: -230px;
    left: 400px;
}

h2 {
    position: relative;
    top: -220px;
    left: 375px;
}

h3 {
    position: relative;
    margin-left: 20px;
}

p {
    margin-top: -170px;
    padding: 20px;
    text-indent: 220px;
    text-align: justify;
}

footer {
    margin-top: 20px;
    color: green;
    background-color: #a9a9a9;
    height: 70px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.porfolioView{
    display: list-item;
    margin: 10px;
}